#head {
    font-family: 'Games', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2em;
}
body {
    margin: 0 auto;
    background-color: rgba(245, 245, 220, 0.764);
}
/* The canvas that was made with Phaser*/
canvas {
    display: block;
    margin: auto;
}