#head {
    font-family: 'Games', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2em;
}
body {
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(245, 245, 220, 0.764);
}

canvas {
    display: block;
    padding-top: 5% ;
    margin: auto;
}